{% extends "index.html" %} {% set active_page = "analysis" %} {%
    block title%} {{ title }} {% endblock %} {% block content%}


<section id="counts" class="counts">
<div class="container">

    <div class="row">

    <div class="col-md-4">
        <div class="count-box">
        <i class="bi bi-truck-front"></i>
        <span data-purecounter-start="0" data-purecounter-end={{tPos}} data-purecounter-duration="1" class="purecounter"></span>
        <p>Number of positive tweets</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="count-box">
        <i class="bi bi-activity"></i>
        <span data-purecounter-start="10000" data-purecounter-end={{tNeg}} data-purecounter-duration="1" class="purecounter"></span>
        <p>Number of negative tweets</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="count-box">
        <i class="bi bi-activity"></i>
        <span data-purecounter-start="10000" data-purecounter-end={{tNeu}} data-purecounter-duration="1" class="purecounter"></span>
        <p>Number of neutral tweets</p>
        </div>
    </div>

    </div>

</div>
</section>
<div>
    <div id='distribution'></div>
    <div id='polarity'></div>
    <p>
        This would give you a visualization of how positive or negative the tweets are towards the brand,
         and could help you identify areas for improvement in your brand's online reputation.
    </p>
    <div id='topics'></div>
    <p>{{message}}</p>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graphs = {{fig3 | safe}};
      Plotly.plot('polarity',graphs,{});
</script>
    <script type='text/javascript'>
        var graphs = {{fig2 | safe}};
        Plotly.plot('distribution',graphs,{});
    </script>
<script type='text/javascript'>
    var graphs = {{fig4 | safe}};
    Plotly.plot('topics',graphs,{});
</script>
</div>
{% endblock%}