{% extends "index.html" %} {% set active_page = "index" %}

{% block content%}
  <div class="container text-center">
    <h2 class="display-4 mb-2 text-primary">Sentimental Analysis </h2>
    <h3 class="text-muted">Digital Nudging </h3> </br>
    <p>
      The rapid growth of online user-generated content has made it increasingly difficult for organizations
       to understand the sentiment of their target audiences. 
       We understand the importance  of understanding customer sentiment in order to make sound business decisions. 
       By using our services, you will be able to get insights into what customers are saying about your product or brand,
       allowing you to better understand their needs and improve your products and services.
    </p>
    <div class="center">
      <form method="POST" action="/" enctype="multipart/form-data">
          
          
      </form>
  </div> </br>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

{% endblock%}