{% extends "index.html" %} {% set active_page = "network" %} {%
    block title%} {{ title }} {% endblock %} {% block content%}


<div>
    <div id='distribution'></div>
    <div id='polarity'></div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graphs = {{fig2 | safe}};
      Plotly.plot('polarity',graphs,{});
</script>
    <script type='text/javascript'>
        var graphs = {{fig | safe}};
        Plotly.plot('distribution',graphs,{});
    </script>
</div>
{% endblock%}