{% extends "index.html" %} {% set active_page = "query" %} {%
    block title%} {{ title }} {% endblock %} {% block content%}

    <div>
      <h3 class="text-muted">Get Sentiments from Twitter Data for the desired Query</h3> </br>
        <form action="{{ request.path }}" method="POST">
          {{ form.csrf_token }} {{ form.hidden_tag() }}
          <div class="row">
            <div class="col-md-2">
              <label> Start Date</label>
              {{ form.startDate(class='form-control',type='date') }}
            </div>
            <div class="col-md-2">
              <label> End Date</label>
              {{ form.endDate(class='form-control',type='date') }}
            </div>
            <div class="col-md-2">
              <label> Query</label>
              {{ form.query(class='form-control',placeholder="Enter Query") }}
            </div>
            <div class="col-md-2">
                <label> Make Query</label> </br>
              <button class="btn btn-primary" type="submit" value="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
</br></br>
<!-- <section id="counts" class="counts">
<div class="container">

    <div class="row">

    <div class="col-md-6">
        <div class="count-box">
        <i class="bi bi-truck-front"></i>
        <span data-purecounter-start="0" data-purecounter-end={{total}} data-purecounter-duration="1" class="purecounter"></span>
        <p>Number of positive tweets</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="count-box">
        <i class="bi bi-activity"></i>
        <span data-purecounter-start="10000" data-purecounter-end={{amount}} data-purecounter-duration="1" class="purecounter"></span>
        <p>Number of negative tweets</p>
        </div>
    </div>

    </div>

</div>
</section> -->
<div>
    <div id='pie'></div>
    <div id='positive'></div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graphs = {{graph1 | safe}};
      Plotly.plot('pie',graphs,{});
    </script>
        <script type='text/javascript'>
          var graphs = {{wordcloud | safe}};
          Plotly.plot('positive',graphs,{});
        </script>
</div>
{% endblock%}